html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #343A40;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
.ThemeableMenu2 .hide 
{
   display: none!important;
}
.ThemeableMenu2 .show 
{
   display: block!important;
}
.ThemeableMenu2 .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.ThemeableMenu2 .nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   color: #2B2B2B;
   text-align: left;
}
#ThemeableMenu2, .ThemeableMenu2 .nav, .ThemeableMenu2 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.ThemeableMenu2 .nav:before,
.ThemeableMenu2 .nav:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu2 .nav:after 
{
   clear: both;
}
.ThemeableMenu2 .nav a 
{
   text-decoration: none;
}
.ThemeableMenu2 .nav ul
{
   margin-top: 0;
   margin-bottom: 10px;
}
.ThemeableMenu2 .nav ul ul
{
   margin-bottom: 0;
}
.ThemeableMenu2 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.ThemeableMenu2 .container:before,
.ThemeableMenu2 .container:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu2 .container:after 
{
   clear: both;
}
.ThemeableMenu2 .collapse 
{
   display: none;
}
.ThemeableMenu2 .collapse.in 
{
   display: block;
}
.ThemeableMenu2 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.ThemeableMenu2 .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.ThemeableMenu2 .dropdown 
{
   position: relative;
}
.ThemeableMenu2 .dropdown-toggle:focus 
{
   outline: 0;
}
.ThemeableMenu2 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.ThemeableMenu2 .dropdown-menu .divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu2 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #2B2B2B;
   white-space: nowrap;
}
.ThemeableMenu2 .dropdown-menu>li>a:hover,
.ThemeableMenu2 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu2 .dropdown-menu>.active>a,
.ThemeableMenu2 .dropdown-menu>.active>a:hover,
.ThemeableMenu2 .dropdown-menu>.active>a:focus 
{
   color: #fff;
   text-decoration: none;
   outline: 0;
   background-color: #343A40;
}
.ThemeableMenu2 .open>.dropdown-menu 
{
   display: block;
}
.ThemeableMenu2 .open>a 
{
   outline: 0;
}
.ThemeableMenu2 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.ThemeableMenu2 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.ThemeableMenu2 .nav>li 
{
   position: relative;
   display: block;
}
.ThemeableMenu2 .nav>li>a 
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.ThemeableMenu2 .nav .open>a,
.ThemeableMenu2 .nav .open>a:hover,
.ThemeableMenu2 .nav .open>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.ThemeableMenu2 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu2 .nav>li>a>img 
{
   max-width: none;
}
.ThemeableMenu2 .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.ThemeableMenu2
{
   position: relative;
   border: 1px solid transparent;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu2:before,
.ThemeableMenu2:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu2:after 
{
   clear: both;
}
.ThemeableMenu2 .navbar-header:before,
.ThemeableMenu2 .navbar-header:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu2 .navbar-header:after 
{
   clear: both;
}
.ThemeableMenu2-navbar-collapse 
{
   max-height: 340px;
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.ThemeableMenu2-navbar-collapse:before,
.ThemeableMenu2-navbar-collapse:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu2-navbar-collapse:after 
{
   clear: both;
}
.ThemeableMenu2-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu2 .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.ThemeableMenu2 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.ThemeableMenu2 .navbar-toggle .icon-bar+.icon-bar 
{
   margin-top: 4px;
}
.ThemeableMenu2 .navbar-nav 
{
   margin: 6px -15px;
}
.ThemeableMenu2 .navbar-nav>li>.dropdown-menu 
{
   margin-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
.ThemeableMenu2 .navbar-nav>li>a 
{
   color: #2B2B2B;
}
.ThemeableMenu2 .navbar-nav>li>a:hover,
.ThemeableMenu2 .navbar-nav>li>a:focus 
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.ThemeableMenu2 .navbar-nav>.active>a,
.ThemeableMenu2 .navbar-nav>.active>a:hover,
.ThemeableMenu2 .navbar-nav>.active>a:focus 
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu2 .navbar-toggle 
{
   border: 1px solid rgba(43,43,43,0.10);
}
.ThemeableMenu2 .navbar-toggle:hover,
.ThemeableMenu2 .navbar-toggle:focus 
{
   background-color: transparent;
}
.ThemeableMenu2 .navbar-toggle .icon-bar 
{
   background-color: #999C9F;
}
.ThemeableMenu2-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.ThemeableMenu2 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu2 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu2 .navbar-nav>.open>a,
.ThemeableMenu2 .navbar-nav>.open>a:hover,
.ThemeableMenu2 .navbar-nav>.open>a:focus 
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.ThemeableMenu2 .navbar-nav>.open>a .caret,
.ThemeableMenu2 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu2 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu2 .navbar-nav>.dropdown>a .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu2 .navbar-link 
{
   color: #2B2B2B;
}
.ThemeableMenu2 .navbar-link:hover 
{
   color: #2B2B2B;
}
.ThemeableMenu2 .navbar-header
{
   color: #999C9F;
   height: 38px;
}
@media (min-width: 480px) 
{
.ThemeableMenu2 .navbar-right .dropdown-menu 
{
   right: 0;
   left: auto;
}
.ThemeableMenu2 .navbar-header 
{
   float: left;
}
.ThemeableMenu2-navbar-collapse 
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.ThemeableMenu2-navbar-collapse.collapse 
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.ThemeableMenu2-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu2 .navbar-toggle
{
   display: none;
}
.ThemeableMenu2 .navbar-nav 
{
   float: right;
   margin: 0;
}
.ThemeableMenu2 .navbar-nav>li 
{
   float: left;
}
.ThemeableMenu2 .container>.navbar-header,
.ThemeableMenu2 .container>.ThemeableMenu2-navbar-collapse 
{
   margin-right: 0;
   margin-left: 0;
}
.ThemeableMenu2 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu2 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 480px) 
{
.ThemeableMenu2 
{
   border-color: rgba(52,58,64,1.00);
}
.ThemeableMenu2 .navbar-nav 
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.ThemeableMenu2 .navbar-nav .open .dropdown-menu 
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.ThemeableMenu2 .navbar-nav .open .dropdown-menu>li>a,
.ThemeableMenu2 .navbar-nav .open .dropdown-menu .dropdown-header 
{
   padding: 5px 15px 5px 25px;
}
.ThemeableMenu2 .navbar-nav .open .dropdown-menu>li>a 
{
   line-height: 20px;
}
.ThemeableMenu2 .navbar-nav .open .dropdown-menu>li>a:hover,
.ThemeableMenu2 .navbar-nav .open .dropdown-menu>li>a:focus 
{
   background-image: none;
}
}
@media (min-width: 480px) 
{
.ThemeableMenu2 
{
   background-color: #343A40;
   background-image: none;
   border-color: rgba(52,58,64,1.00);
   border-radius: 0px;
}
.ThemeableMenu2 .navbar-nav>li>a 
{
   color: #999C9F;
}
.ThemeableMenu2 .navbar-nav>li>a:hover,
.ThemeableMenu2 .navbar-nav>li>a:focus 
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu2 .navbar-nav>.active>a,
.ThemeableMenu2 .navbar-nav>.active>a:hover,
.ThemeableMenu2 .navbar-nav>.active>a:focus 
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu2 .navbar-nav>.open>a,
.ThemeableMenu2 .navbar-nav>.open>a:hover,
.ThemeableMenu2 .navbar-nav>.open>a:focus 
{
   background-color: #343A40;
   background-image: none;
   color: #FFFFFF;
}
.ThemeableMenu2 .navbar-nav>.dropdown>a:hover .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu2 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #999C9F;
   border-bottom-color: #999C9F;
}
.ThemeableMenu2 .navbar-nav > li.active > a > .caret,
.ThemeableMenu2 .navbar-nav > li.active > a:hover > .caret,
.ThemeableMenu2 .navbar-nav > li.active > a:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu2 .navbar-nav>.open>a .caret,
.ThemeableMenu2 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu2 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu2 .navbar-link 
{
   color: #999C9F;
}
.ThemeableMenu2 .navbar-link:hover 
{
   color: #fff;
}
}
#ThemeableMenu2-logo
{
   float: left;
}
#ThemeableMenu2-logo img
{
   border-width: 0;
   height: auto;
   max-width: 100%;
}
#intro
{
   background-color: transparent;
   background-image: url(images/table1_800_faded.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   margin: 0;
}
#intro-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0.5;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 48px;
   margin: 0;
   text-align: center;
}
#Heading1 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#NewsFeedTicker1
{
   padding: 0px;
   border: 0px solid #CCCCCC;
   background-color: rgba(255,255,255,0.00);
   margin: 0;
   text-align: center;
}
#NewsFeedTicker1 .headline
{
   position: absolute;
   height: 100%;
   margin: 0 0 8px 0;
   top: 110%;
   box-sizing: border-box;
   padding: 8px;
   width: 100%;
   overflow: hidden;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   color: #FFFFFF;
   font-style: normal;
   text-decoration: none;
}
#NewsFeedTicker1 h4
{
   margin-top: .5em;
   margin-bottom: .25em;
   font-family: Arial;
   font-weight: bold;
   font-size: 20px;
   color: #FFFFFF;
   font-style: normal;
   text-decoration: none;
}
#NewsFeedTicker1 h4 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#NewsFeedTicker1 .news-wait
{
   position: absolute;
   top: 30%;
   left: 50%;
   margin-left: -10px;
   z-index: 4;
}
